{% extends "layout.twig" %} 

{% block main %}
<div style="max-width: 85rem; margin: 0 auto;" class="{{ widget.getParam('css_class') }}">
	{% block title %}<h1 style="margin-bottom: 30px;">Глоссарий</h1>{% endblock %}
	{% for m in widget.getParam('struct') %}
		<h2>{{ m['char'] }}</h2>
			<ul>
			{% for n in m['data'] %}
			<li><a href="{{ n['path'] }}" title="Описание термина &#171;{{ n['term'] }}&#187;">{{ n['term'] }}</a></li>
			{% endfor %}
		</ul>
	{% endfor %}  
</div>
{% endblock %} 