{% extends "layout.twig" %} 

{% block main %}
	<div class="grid-container">
		<div class="grid-x grid-padding-x">
			<div class="cell">
				{% widget 'Breadcrumbs' %}
			</div>
		</div>
	</div>

	<div class="grid-container">
		<div class="grid-x grid-padding-x">
			<div class="cell">
				{% block title %}<h1>{{ widget.getParam('term') }}</h1>{% endblock %}
			</div>
		</div>
	</div>

	<div class="padding-top-12">
		<div class="grid-container">
			<div class="grid-x grid-padding-x">
				<div class="cell">
					<div class="{{ widget.getParam('css_class') }}">

						<p class="h2">{{ widget.getParam('specification') }}</p>

						{% if widget.getParam('synonyms') != '' %}
							<p class="h3"> Синонимы: 
								{{ widget.getParam('synonyms') }}
							</p>
						{% endif %}
						
						{% if widget.getParam('links') != [] %}
							<p class="h3"> Ссылки: 
							{% for m in widget.getParam('links') %}<a href="{{ m['link'] }}" title="{{ m['title'] }}">{{ m['title'] }}</a>{% if loop.last != true %}, {% endif %}{% endfor %}
							</p>
						{% endif %}
								
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %} 